Repository mikelandjelos/depository: changes, and which pre-commit hooks are due for each by the changed paths.
All: proselint, stylelint

proselint:
  name: proselint
  entry: proselint check
  language: system

stylelint:
  name: stylelint
  entry: stylelint --fix
  language: system

Stale docs update (minor)
  docs/THEME.md
Due: proselint

README.md added
  AGENTS.md
  README.md
Due: proselint

Pre-deploy
  .github/workflows/deploy.yml
  AGENTS.md
  README.md
  docs/DEPLOY.md
  docs/PLAN.md
  hugo.toml
  layouts/_default/baseof.html
Due: proselint

Cloudflare deployment - wrangler configuration
  wrangler.toml
Due: none

Started inserting the content
  README.md
  content/about.md
  content/posts/hello-world.md
  hugo.toml
Due: proselint

Favicon added
  layouts/_default/baseof.html
  static/favicon.ico
  static/favicon.png
Due: none

Final docs updated
  AGENTS.md
  docs/DEPLOY.md
  docs/PLAN.md
  docs/THEME.md
Due: proselint

Small profile-like picture added
  AGENTS.md
  assets/css/tufte.css
  docs/PLAN.md
  docs/THEME.md
  layouts/index.html
Due: proselint, stylelint

Fix mobile/zoom code & math block width issues (#1)
  assets/css/tufte.css
Due: stylelint

Fix real cause of code block scrollbar/clipping bug (#1)
  assets/css/tufte.css
Due: stylelint

Add auto table of contents and drop cap (#2)
  assets/css/tufte.css
  layouts/_default/baseof.html
  layouts/_default/single.html
Due: stylelint

Catch up docs with issue #1 and #2 work
  AGENTS.md
  docs/PLAN.md
  docs/THEME.md
Due: proselint

Track new issues #9, #10 and refined #8 metadata scope in PLAN.md
  docs/PLAN.md
Due: proselint

Add Curriculum Vitae page, synced live from curriculum-vitae repo
  .github/workflows/sync-cv.yml
  .gitignore
  _typos.toml
  assets/css/tufte.css
  content/cv.md
  data/cv.yaml
  hugo.toml
  layouts/_default/cv.html
  scripts/sync_cv.py
Due: proselint, stylelint

CV page: real icons, fix width/density to actually look like a CV
  AGENTS.md
  assets/css/tufte.css
  docs/PLAN.md
  docs/THEME.md
  layouts/_default/cv.html
  layouts/partials/icon.html
Due: proselint, stylelint

Fix CV sync: curriculum-vitae is private, needs authenticated checkout
  .github/workflows/sync-cv.yml
  docs/PLAN.md
  docs/THEME.md
  scripts/sync_cv.py
Due: proselint

Fix CV parser: strip LaTeX comments before parsing
  data/cv.yaml
  scripts/sync_cv.py
Due: none

Confirm CV sync pipeline works end-to-end in PLAN.md
  docs/PLAN.md
Due: proselint

Scaffold About page: WIP notice, section placeholders, technical content
  assets/css/tufte.css
  content/about.md
  docs/PLAN.md
Due: proselint, stylelint

Add tags/categories taxonomies and post status badge (#8)
  assets/css/tufte.css
  content/posts/hello-world.md
  docs/PLAN.md
  docs/THEME.md
  hugo.toml
  layouts/_default/single.html
  layouts/_default/taxonomy.html
  layouts/_default/term.html
Due: proselint, stylelint

Tighten TOC vertical rhythm (#9)
  assets/css/tufte.css
  docs/PLAN.md
  docs/THEME.md
Due: proselint, stylelint

Add animated light/dark/auto theme toggle (#10)
  assets/css/tufte.css
  docs/PLAN.md
  docs/THEME.md
  layouts/_default/baseof.html
Due: proselint, stylelint

Add "Unresolved Promises" GitHub issue teasers to Posts (#7)
  assets/css/tufte.css
  docs/PLAN.md
  docs/THEME.md
  hugo.toml
  layouts/_default/list.html
Due: proselint, stylelint

Add Statistics page (#12)
  assets/css/tufte.css
  content/stats.md
  docs/PLAN.md
  docs/THEME.md
  hugo.toml
  layouts/_default/stats.html
Due: proselint, stylelint

Add Quarto scientific publishing: .qmd/.ipynb posts in Python and R (#4)
  .gitignore
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  AGENTS.md
  _freeze/content/posts/quarto-ipynb-demo/index/execute-results/md.json
  _freeze/content/posts/quarto-ipynb-demo/index/figure-markdown_strict/cell-3-output-1.png
  _freeze/content/posts/quarto-python-demo/index/execute-results/md.json
  _freeze/content/posts/quarto-python-demo/index/figure-markdown_strict/cell-3-output-1.png
  _freeze/content/posts/quarto-r-demo/index/execute-results/md.json
  _quarto.yml
  assets/css/tufte.css
  content/about.md
  content/posts/quarto-ipynb-demo/index.ipynb
  content/posts/quarto-ipynb-demo/index.md
  content/posts/quarto-ipynb-demo/index_files/figure-markdown_strict/cell-3-output-1.png
  content/posts/quarto-python-demo/index.md
  content/posts/quarto-python-demo/index.qmd
  content/posts/quarto-python-demo/index_files/figure-markdown_strict/cell-3-output-1.png
  content/posts/quarto-r-demo/index.markdown_strict_files/figure-markdown_strict/unnamed-chunk-2-1.png
  content/posts/quarto-r-demo/index.md
  content/posts/quarto-r-demo/index.qmd
  docs/PLAN.md
  docs/QUARTO.md
  docs/THEME.md
  hugo.toml
  layouts/_default/single.html
  matplotlibrc
  scripts/render_quarto.py
Due: proselint, stylelint

Add native RSS feeds
  AGENTS.md
  docs/PLAN.md
  docs/THEME.md
  hugo.toml
  layouts/_default/baseof.html
Due: proselint

Refresh project README
  README.md
Due: proselint

Mark RSS issue complete
  docs/PLAN.md
Due: proselint

Add social metadata
  AGENTS.md
  README.md
  docs/PLAN.md
  docs/THEME.md
  hugo.toml
  layouts/_default/baseof.html
Due: proselint

Mark social metadata issue complete
  docs/PLAN.md
Due: proselint

Add deterministic mathematical post cards
  .github/workflows/generate-post-cards.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  assets/css/tufte.css
  data/post_cards.yaml
  docs/PLAN.md
  docs/QUARTO.md
  docs/THEME.md
  layouts/_default/baseof.html
  layouts/_default/single.html
  scripts/generate_post_cards.py
  scripts/stage_post_cards.py
  static/images/post-cards/hello-world.png
  static/images/post-cards/quarto-ipynb-demo.png
  static/images/post-cards/quarto-python-demo.png
  static/images/post-cards/quarto-r-demo.png
Due: proselint, stylelint

Fix post-card hook in CI
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docs/THEME.md
  scripts/stage_post_cards.py
Due: proselint

Add post about deterministic cards
  content/posts/deterministic-post-cards.md
  data/post_cards.yaml
  static/images/post-cards/deterministic-post-cards.png
Due: proselint

Normalize article math typography
  AGENTS.md
  assets/css/tufte.css
  docs/PLAN.md
  docs/THEME.md
Due: proselint, stylelint

Mark post cards issue complete
  docs/PLAN.md
Due: proselint

Add daily art and nightly refresh
  .github/workflows/refresh-daily-art.yml
  AGENTS.md
  README.md
  assets/css/tufte.css
  data/daily_art.yaml
  data/site_refresh.yaml
  docs/PLAN.md
  docs/THEME.md
  layouts/index.html
  scripts/refresh_daily_art.py
  static/images/daily_art.jpg
Due: proselint, stylelint

Vary daily art frames
  AGENTS.md
  assets/css/tufte.css
  data/daily_art.yaml
  docs/PLAN.md
  docs/THEME.md
  layouts/index.html
  scripts/refresh_daily_art.py
Due: proselint, stylelint

Mark artsy and nightly refresh complete
  docs/PLAN.md
Due: proselint

Add collision-aware floating table of contents
  AGENTS.md
  assets/css/tufte.css
  docs/PLAN.md
  docs/THEME.md
  layouts/_default/baseof.html
  layouts/_default/single.html
  static/js/toc-collision.js
Due: proselint, stylelint

Mark Visionbook inspiration complete
  docs/PLAN.md
Due: proselint

Path conditions:
  proselint: any of: \.(md|markdown|mdown)$
  stylelint: any of: \.css$
